<h2>
  List of Products:
</h2>
<ul class = "list-group">
  <!--li *ngFor = "let key of usersKeys">{{'user number ' + key + ' ' + users[key].username}}</li-->
  <li class = "list-group-item" *ngFor = "let key of productsKeys">
    <!--button class="btn btn-danger" (click) = "deleteUser(key)">Delete</button-->
    <button class="btn btn-info" [routerLink] = "['/edit-product', key]">Update</button>
    <a [routerLink] = "['/products', key]">{{'products number '+key+' '+products[key].name+' '+products[key].price}}</a>
  </li>
</ul>