<h1>Welcome!</h1>
<nav>
  <a routerLink="/products" routerLinkActive="active" class="btn btn-success">Products</a>
  <a routerLink="/login" routerLinkActive="active" class="btn btn-success">Login</a>
  <a routerLink="/furebas" routerLinkActive="active" class="btn btn-success">Firebase</a>
</nav>
<router-outlet></router-outlet>